

body{
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

.connect{
    display: flex;
    align-items: baseline;
}

.connect p{
    margin-left: 10px;
    margin-right: 10px;
}

.error_page{
    margin: 10%;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0}
}