

body{
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

.navbar{
    box-shadow: 0 0 20px 0 #8f8f8f;
}

.connect{
    display: flex;
    align-items: baseline;
}

.connect p{
    margin-left: 10px;
    margin-right: 10px;
}

.error_page{
    margin: 10%;
}

/* Tableau */

.content-table{
    margin: 3%;
}

.table{
    background-color: white;
    box-shadow: 0 0 20px 0 #8f8f8f;
}

.bottom-table{
    text-align: right;
}