{% extends "app_manager/base.html" %}
{% load static %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/manager_css.css' %}">
{% endblock %}

{% block activeMM %}active{% endblock %}

{% block content %}

    <div class="header">
        <h1>Status</h1>
        <hr>
    </div>

    <div class="list-status">
        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">Probléme(s) détecté(s)</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ erreur }} mails</h6>
            <details>
            <summary>Liste des serveurs comportants une erreur.</summary>
            {% for listeError in lstSubjectError %}
                {{ listeError|capfirst }}<br>
            {% endfor %}
            </details>
              <br>
            <a href="{% url 'app_more' status="error" %}" class="card-link">Plus de détails</a>
          </div>
        </div>

        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">R.A.S</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ ras }} mails</h6>
            <details>
                <summary>Liste des serveurs où tout vas bien.</summary>
                {% for listeRAS in lstSubjectRAS %}
                    {{ listeRAS|capfirst }}<br>
                {% endfor %}
            </details>
              <br>
            <a href="{% url 'app_more' status="ras" %}" class="card-link">Plus de détails</a>
          </div>
        </div>

        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">Status inconnu</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ nbInconnu }} mails non identifié</h6>
            <p class="card-text">Nombre de mails attendus qui ne sont pas arrivés et/ou de mails non identifiés.</p>
          </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}{% endblock %}